* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 20px;
    background-color: rgb(53, 184, 184);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-title {
    
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 60px;
}

header h1 {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 40px;
}

header nav {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-top: 35px;
    padding-right: 20px;
}

.pure-u-1-5 a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    padding: 10px;
    font-style: italic;
}


/* rest section */
#rest {
    border: 4px solid #747481;
    background-color: #1C6EA4;
    padding-left: 10px;
}

#rest iframe {
    border: 4px solid black;
}

/* exercise section */
#exercise {
    border: 4px solid #19191a;
    background-color: #7b6e7c;
    padding-left: 10px;
}

/* laugh section */
#laugh {
    border: 4px solid #19191a;
    background-color: #91aeda;
    padding-left: 10px;
}

.cat-image img {
    max-width: 50%;
    border: 8px solid #1C6EA4;
}

/* Appreciation & gratitude section */
#appreciation-gratitude {
    border: 4px solid #19191a;
    background-color: #5d79a3;
    padding-left: 10px;
}

/* explore section */
#explore {
    border: 4px solid #19191a;
    background-color: #a79980;
    padding-left: 10px;
}
