* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    text-decoration: none;
    padding: 20px 35px;
    background-color: rgb(53, 184, 184);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#Gratitude-text {
    width: 175px;
}

.pure-g {
    text-decoration: none;
}

#Appreciation {
    display: none;
}

.pure-g {
    text-decoration: none;
  }

.AppreciationGratitude {
    text-decoration: none;
    padding: 20px 35px;
    background-color: #ffb347;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
}

