* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.margin0{
    margin: 0;
}

header {
    text-decoration: none;
    padding-top: 0px;
    padding-bottom: 3px;
    padding-left: 20px;
    background-color: rgb(53, 184, 184);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-title {
    
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 60px;

}

header h1 {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 40px;
}

header nav {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-top: 35px;
    padding-right: 20px;
}

.pure-u-1-5 a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    padding: 10px;
    font-style: italic;
}

.pure-u-1-5 a:hover {
    color: #747481;
}


header h1 {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 40px;
}

header nav {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-top: 35px;
    padding-right: 20px;
}

.pure-u-1-5 a {
    text-decoration: none;
    font-size: 50px;
    color: white;
    padding: 10px;
    font-style: italic;
}

.section-title {
    font-size: 50px;
    font-style: italic;
    color: white;
    text-decoration: underline;
}
#Appreciation {
    display: none;
}

/* rest section */
#rest {
    border: 4px solid #747481;
    background-color: #1C6EA4;
    padding-left: 10px;
}


#rest iframe {
    border: 4px solid black;
}

/* eat in section*/
#favList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#favList li {
    display: grid;
    margin: 20px 0px;
}
#favList li p {
    border-radius: 10px;
    text-decoration: none;
    color: #401a0d;
}

/* laugh section */
#laugh {
    border: 4px solid #19191a;
    background-color: #91aeda;
    padding-left: 10px;
}


.cat-image img {
    max-width: 50%;
}
#catFavoriteBtn {
    display: none;
}

/* Appreciation & gratitude section */
#appreciation-gratitude {
    border: 4px solid #19191a;
    background-color: #5d79a3;
    padding-left: 10px;
}

/* EatIn section */
#eatIn {
    border: 4px solid #19191a;
    background-color: #a79980;
    padding-left: 10px;
}


#Appreciation {
    display: none;
}

.graTextArea {
    width: 98%;
    background-color: #364862;
}

#grat-scroll li{
    font-size: x-large;
}

#grat-scroll {
    background-color: #5d79a3;
    width: 100%;
    height: 110px;
    overflow: auto;
  }


.pure-g {
    text-decoration: none;
}

#rest iframe {
    border: 4px solid black;
}

/* Exercise section */
#Exercise {
    border: 4px solid #19191a;
    background-color: #7b6e7c;
    padding-left: 10px;
    justify-content: space-around;
}
#Exercise iframe {
    border: 4px solid black;
}
/* laugh section */
#laugh {
    border: 4px solid #19191a;
    background-color: #91aeda;
    padding-left: 10px;
}

.cat-image img, #recipe-img {
    max-width: 50%;
}
#favCatList li img {
    max-width: 50%;
}
/* Appreciation & gratitude section */
#AppreciationGratitude {
    border: 4px solid #19191a;
    background-color: #5d79a3;
    padding-left: 10px;
}


/*Media Queries*/
@media only screen and (max-width: 600px) {
    header{
        justify-content: center;
        margin: 0;
    }
    header h1{
        margin: 0;
    }
    header ul {
        margin-bottom: 40px;
    }

    #rest iframe {
        max-width: 98%;

    }
    #Exercise iframe {
        max-width: 98%;
    }
    #Gratitude {
        justify-content: center;
        align-items: center;
    }

    .Grat{
        margin: 0;
        margin-bottom: 10px;
    }

    .submit{
        width: 100%;
        height: 100%;
    }

    #recipe-img {
        width: 98%;
    }
  }
